/**
 * Colors
 *
 * Dark pink: #9E1E4C
 * Pink: #FF1168
 * Dark: #25020F
 * Grey: #8F8F8F
 * White: #ECECEC
 */

body {
		margin: 100px auto;
		width: 800px;
		text-align: left;
		font-family: Arial, sans-serif;
		color: #25020F;
		background-color: #FFFFFF;
}

a {
	color: #9E1E4C;
	text-decoration: none;
}

a:hover {
	color: #FF1168;
}

h1, h2, h3, h4, h5, h6 {
		text-align: center;
}

h1 {
		margin: 50px;
}

.flash_notice, .flash_error {
		text-align: center;
		padding: 5px;
		margin: auto;
		background-color: #ECECEC;
		width: 300px;
}

.flash_notice {
		border: dashed green 1px;
		color: green;
}

.flash_error {
		border: dashed red 1px;
		color: red;
}

.red {
		color: red;
}

.green {
		color: green;
}

.grey {
		color: grey;
}

.menu {
		text-align: center;
		margin: 25px 0;
		padding: 5px;
		border: 1px #8F8F8F solid;
		background-color: #ECECEC;
}

.menu em {
	color: #8F8F8F;
}

table {
		margin: auto;
}

form table {
		width: 100px;
		background-color: #eee;
		border: 1px solid #000;
}

table.hiscores {
		border: 1px #8F8F8F solid;
}

table.hiscores th {
		text-align: center;
}

table.hiscores th, table.hiscores td {
		padding: 1px;
		background-color: #ECECEC;
}

.right {
		text-align: right;
}

.center {
		text-align: center;
}

.bold {
		font-weight: bold;
}

.layout {
		text-align: center;
}

.message {
		width: 400px;
		margin: 10px auto;
		padding: 10px;
		background-color: #ECECEC;
		border: 1px #8F8F8F dashed;
}

ul.message {
		padding-left: 30px;
}

table.board {
	border: 5px solid #8F8F8F;
	border-collapse: collapse;
}

table.board td {
	padding: 0;
}

table.board td img {
	border: 0;
	display: block;
}

.clickable {
		cursor: pointer;
}

.bottom {
		margin-top: 100px;
		text-align: center;
		font-size: smaller;
}

#flag_on, #question_on {
		display: none;
}

#status {
		margin: 25px auto;
		width: 150px;
}